<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signature Verification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Biometric Signature Validation</h1>
        <form>
            <div class="form-group select-container">
                <label for="userSelect">Select User:</label>
                <select class="form-control" id="userSelect">
                    {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <img id="genuineSignature" src="" alt="Genuine Signature" style="max-width: 300px; height: 100px;">
            <div class="form-group select-container">
                <label for="signatureSelect">Signature Selection:</label>
                <select class="form-control" id="signatureSelect">
                    <option value="" selected disabled>Select a User First</option>
                </select>
            </div>
            <img id="selectedSignature" src="" alt="Selected Signature" style="width: 300px; height: 100px;">
            <div>
                <button type="button" class="btn btn-primary" id="validateBtn">Validate</button>
            </div>
        </form>
        <div id="result" class="mt-4"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
